@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 7rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image:url("/cinema.png");
  background-size:85%;
  background-position: 100% 0%;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

